black
pytest
pytest-xdist
pytest-benchmark
autoflake
isort
pipreqs
interrogate
pyflakes
autoflake
typing
rope
pylint
flake8
mypy
prospector
pylama
bandit
ruff
pre-commit
mkdocs 
mkdocstrings[python]
mkdocs-material 
mkdocs-mermaid2-plugin
mkdocs-git-revision-date-localized-plugin
hydra-core
pymarkdownlnt
ipykernel